<div class="container">
  <div class="container">
    <div class="title">
      <h1>Search</h1>
    </div>
    <form>
      <div class="form-row">
        <div class="col-3">
          <select class="form-control" #val1 (change)="categoryChanged(val1.value)">
            <option *ngFor="let option of getCategories()">{{option}}</option>
          </select>
        </div>
        <div class="col-7">
          <select class="form-control" #val2>
            <option *ngFor="let option of options ">{{option}}</option>
          </select>
        </div>
        <div class="col">
          <button class="btn btn-primary" (click)="search(val1.value,val2.value)"> Submit </button>&nbsp;
        </div>
      </div>
    </form>
  </div>

  <div class="card" *ngIf="complainDetailModel?.length === 0">

    <div class="card-body">
      <h1 class="card-title text-center" style="text-transform: uppercase; font-weight: bold;">No Data Found !! </h1>
    </div>
  </div>

  <div class="card" *ngFor="let complaindata of complainDetailModel.reverse()">
    <div class="card-header">
      <div class="text-right">
        <strong> Issue Date : {{complaindata.compDate  | date }}</strong>
      </div>
    </div>
    <div class="card-body">
      <div>
        <h4 class="card-title">{{complaindata.subject}}.</h4>
        <p class="card-text">{{complaindata.shortdescription}}.</p>
      </div>
    </div>
    <div class="card-footer">
      <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <p><strong>Status</strong></p>
          <span [class.blue]="complaindata.status === 'In progress'" [class.green]="complaindata.status === 'Solved'"
            [class.red]="complaindata.status === 'Fake'">{{complaindata.status}}</span>
        </li>
        <li class="nav-item" *ngIf="loginStateService.loginState?.role">
          <p><strong>Assignee</strong></p>
          <span>{{complaindata.employee.empName}}</span>
        </li>
        <li class="nav-item">
          <p><strong>Category</strong></p>
          <span>{{complaindata.category.catName}}</span>
        </li>
        <li class="nav-item">
          <p><strong>Area</strong></p>
          <span>{{complaindata.area.areaName}}</span>
        </li>
        <li class="nav-item" *ngIf='complaindata.status === "In progress"'>
          <p><strong>Due</strong></p>
          <span>{{ dueDate(complaindata.compDate) }} Day</span>
        </li>
        <li class="nav-item" *ngIf='complaindata.status !== "In progress"'>
          <p><strong>Complete Date</strong></p>
          <span>{{complaindata.completeDate  | date}}</span>
        </li>
        <li class="nav-item">
          <a (click)='viewModal(complaindata)' class="btn btn-primary card-btn">Details</a>
        </li>
      </ul>

    </div>
  </div>

  <div *ngIf="!isHide" class="card-dialog">
    <div class="card-background">
      <div class="card-content">
        <div class="card-body ">
          <div class="container">
            <div class="card ">
              <div class="card-header">
                <div class="text-right">
                  <strong> Issue Date : {{viewAllcomplainDetailModal.compDate  | date}}</strong>
                </div>
                <div class="card-body">
                  <h4 class="card-title">{{viewAllcomplainDetailModal.subject}}.</h4>
                  <p class="card-text" style="color: white;">{{viewAllcomplainDetailModal.shortdescription}}</p>
                </div>
              </div>


              <div class="card-body card-scroll container" style="padding: 1;">
                <div class="card-text">
                  <h5> Complaint description:</h5>
                  <p>
                    {{viewAllcomplainDetailModal.description}}
                  </p>
                </div>
                <hr>
                <div class="card-text" *ngIf="viewAllcomplainDetailModal.status!=='In progress'">
                  <h5>Solution:</h5>
                  <p>
                    {{viewAllcomplainDetailModal.solution}}
                  </p>
                  <hr>
                </div>
                <div>
                  <h5> User Comments:</h5>
                  <div *ngFor="let comment of viewAllcomplainDetailModal.comments">
                    <p class="card-text">
                      <strong>{{comment.username}}: &nbsp;</strong>{{comment.comment}}

                    </p>
                    <hr>
                  </div>

                </div>
              </div>

              <div class="input-bar" *ngIf="loginStateService.loginState?.role ==='User'">
                <div class="input-bar-item width100">
                  <form [formGroup]="commentForm" class="comment-form">
                    <div class="input-group">
                      <input type="text" class="form-control width100" formControlName="comment"
                        [ngClass]="{ 'is-invalid': submitted && formfields.comment.errors }"
                        placeholder="Enter Your Comment Here {{loginStateService.loginState.username}}">
                      <span class="input-group-btn">
                        <button (click)="onSubmit()" class="btn card-btn">Add Comment</button>
                      </span>
                      <div *ngIf="submitted && formfields.comment.errors" class="invalid-feedback">
                        <div *ngIf="formfields.comment.errors.required">Comment Is Required.</div>
                        <div *ngIf="formfields.comment.errors.maxlength">Comment Must Be Less Then 50 Characters.</div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card-footer">
                <ul class="nav nav-pills nav-fill">
                  <li class="nav-item">
                    <p><strong>Status</strong></p>
                    <span [class.blue]="viewAllcomplainDetailModal.status === 'In progress'"
                      [class.green]="viewAllcomplainDetailModal.status === 'Solved'"
                      [class.red]="viewAllcomplainDetailModal.status === 'Fake'">{{viewAllcomplainDetailModal.status}}</span>
                  </li>
                  <li class="nav-item" *ngIf="loginStateService.loginState?.role">
                    <p><strong>Assignee</strong></p>
                    <span>{{viewAllcomplainDetailModal.employee.empName}}</span>
                  </li>
                  <li class="nav-item">
                    <p><strong>Category</strong></p>
                    <span>{{viewAllcomplainDetailModal.category.catName}}</span>
                  </li>
                  <li class="nav-item">
                    <p><strong>Area</strong></p>
                    <span>{{viewAllcomplainDetailModal.area.areaName}}</span>
                  </li>
                  <li class="nav-item" *ngIf='viewAllcomplainDetailModal.status !== "Solved"'>
                    <p><strong>Due</strong></p>
                    <span>{{ dueDate(viewAllcomplainDetailModal.compDate) }} Day</span>
                  </li>
                  <li class="nav-item"
                    *ngIf='viewAllcomplainDetailModal.status !== "In progress" || viewAllcomplainDetailModal.status === "Fake" '>
                    <p><strong>Complete Date</strong></p>
                    <span>{{viewAllcomplainDetailModal.completeDate  | date}}</span>
                  </li>
                  <li>
                    <div class="card-button-align">
                      <button class=" btn btn-primary card-btn" (click)="closeModal()">Close</button>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>