.card {
  margin-top: 2%;
  margin-bottom: 2%;
}

.card-background {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
  width: 100%;
  height: 100%;
}

.card-dialog {
  transition: all 5s ease-in-out;
  position: fixed !important;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.card-comment-textbox {
  position: sticky;
  padding: 0;
  margin: 0;
  height: 60px;
}

.card-header {
  background-color: #133c8c;
  color: white;
}

.card-comment-box {
  width: 100%;
}

.card-scroll {
  overflow: auto;
  height: 500px;
}

.comment-form {
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
  margin: 1.5%;
}

.card-body h4 {
  text-transform: uppercase;
  font-weight: bold;
}

.card-body p {
  color: grey;
}

.card-footer {
  height: 10%;
}

.card-footer a {
  font-weight: bold;
}

.nav-item {
  text-align: left;
}

.nav-item span {
  margin: 0;
  padding: 0;
}

.nav-item p {
  margin: 0;
  padding: 0;
  color: black;
}

.badge-warning {
  font-size: 20px;
  font-weight: bold;
}

.card-button-align {
  display: flex;
  justify-content: flex-end;
  padding: 0.5%;
}

.card-btn {
  background-color: #133c8c;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}
.card-btn:hover {
  background-color: white;
  font-weight: bold;
  text-transform: uppercase;
  color: #133c8c;
}

.blue {
  color: blue;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

.title h1 {
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 5px;
}

.container {
  padding: 5%;
}

.title {
  padding-bottom: 30px;
}

.form-group label {
  font-weight: bold;
}
