<div class="container">
  <div class="panel">
    <div class="title">
      <h1>Add New Employee</h1>
    </div>
    <div class="employee-form">
      <br />
      <div [formGroup]="formEmp" method="POST" action='EmployeeHome'>
        <div class="col-lg-12 well">
          <div class="col-sm-12">
            <div class="col-sm-12 form-group">
              <label for="FName">First-Name:</label>
              <input type="text" class="form-control" formControlName='firstName' placeholder="Enter First-Name"
                [ngClass]="{'is-invalid': submitted && dataEmp.firstName.errors }">
              <div *ngIf="submitted && dataEmp.firstName.errors" class="invalid-feedback">
                <div *ngIf="dataEmp.firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="col-sm-12 form-group">
              <label for="LName">Last-Name:</label>
              <input type="text" class="form-control" formControlName='lastName' placeholder="Enter lastname"
                id="lastName" [ngClass]="{'is-invalid': submitted && dataEmp.lastName.errors }">
              <div *ngIf="submitted && dataEmp.lastName.errors" class="invalid-feedback">
                <div *ngIf="dataEmp.lastName.errors.required">Last-Name is required</div>

              </div>
            </div>
            <div class="col-sm-12 form-group" *ngIf="action==='Add'">
              <label for="Username">Username:</label>
              <input type="text" class="form-control"  formControlName='userName' placeholder="Enter Username" id="userName"
                [ngClass]="{'is-invalid': submitted && dataEmp.userName.errors }">
              <div *ngIf="submitted && dataEmp.userName.errors" class="invalid-feedback">
                <div *ngIf="dataEmp.userName.errors.required">Username is required</div>
                <div *ngIf="dataEmp.userName.errors.userNameTaken">Username is already taken</div>    
                  </div>
           
            </div>
            <div class="col-sm-12 form-group" *ngIf="action==='Add'"> 
              <label for="pwd">Password:</label>
              <input type="password" class="form-control" formControlName='password' placeholder="Enter password"
                id="pwd" [ngClass]="{'is-invalid': submitted && dataEmp.password.errors }">
              <div *ngIf="submitted && dataEmp.password.errors" class="invalid-feedback">
                <div *ngIf="dataEmp.password.errors.required">Password Is Required.</div>
              </div>
            </div>
            <div class="col-sm-12 form-group">
              <label for="email">Email address:</label>
              <input type="email" class="form-control" formControlName='email' placeholder="Enter email" id="email"
                [ngClass]="{'is-invalid': submitted && dataEmp.email.errors }">
              <div *ngIf="submitted && dataEmp.email.errors" class="invalid-feedback">
                <div *ngIf="dataEmp.email.errors.required">email Is Required.</div>
                <div *ngIf="dataEmp.email.errors.email">Enter valid email address</div>


              </div>
            </div>
            <div class="col-sm-12 form-group">
              <label for="Address">address:</label>
              <input type="text" class="form-control" formControlName='address' placeholder="Enter address" id="address"
                [ngClass]="{ 'is-invalid': submitted && dataEmp.address.errors }">
              <div *ngIf="submitted && dataEmp.address.errors" class="invalid-feedback">
                <div *ngIf="dataEmp.address.errors.required">address Is Required.</div>
                <div *ngIf="dataEmp.address.errors.minlength">address Must Be 2 Character Long..</div>
                <div *ngIf="dataEmp.address.errors.maxlength">address Must Be Less Then 50 Character Long.
                </div>
              </div>
            </div>
            <div class="col-sm-12 form-group" *ngIf="action==='Update'">
              <label for="SelectEmpStatus">Status:</label>
              <select formControlName="empStatus" class="form-control" rows="5"  >
                <option>Active</option>
                <option>Inactive</option>
              </select>
              <div *ngIf="submitted && dataEmp.empStatus.errors" class="invalid-feedback">
                <div *ngIf="dataEmp.empStatus.errors.required">Status Is Required.</div>
              </div>
            </div>
            <button (click)="onSave()" class="btn btn-primary mb-2">{{action=='Update'?'Update':'Add'}}</button>
            &nbsp;
            <button (click)="onReset()" class="btn btn-primary mb-2">cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="panel">
    <div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col"> EmpId </th>
            <th scope="col"> First Name</th>
            <th scope="col"> Last Name</th>
            <th scope="col"> UserName</th>
            <th scope="col"> Email</th>
            <th scope="col"> Address</th>
            <th scope="col"> Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody style="background-color: white;">

          <tr *ngFor="let data of getEmployeeDetails()" [class.myBgColor]='data.empId===selectedEmpId'>
            <td>{{data.empId}}</td>
            <td>{{data.firstName}}</td>
            <td>{{data.lastName}}</td>
            <td>{{data.userName}}</td>
            <td>{{data.email}}</td>
            <td>{{data.address}}</td>
            <td>{{data.status?'Active':'Inactive'}}</td>
            <td><button class="btn btn-primary mb-2" (click)="displayEmp(data)">Edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>