.footer {
  background-color: #133c8c;
  color: white;
  box-shadow: -1px -4px 11px -3px rgba(0, 0, 0, 0.5);
  margin-bottom: 0;
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 5px;
  font-size: 15px;
}
