<div class="jumbotron jumbotron-fluid footer">
  <div class="container">
    <p>&copy; 2020, Content owned by <strong>Grievance Redressal Portal .</strong> </p>
    <p><strong>Email:</strong> yourseva@complaint.com</p>
    <p><strong>Contact Us:</strong> +91-7200072000</p>
  </div>
</div>