a {
  color: white;
}

.navbar {
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
}

.dropdown a {
  color: black;
}

.dropdown [type="button"] {
  color: white;
}

.dropdown-menu {
  min-width: 0px;
}
