<div class="container">
  <div class="title">
    <h1>Registration</h1>
  </div>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="col-lg-12 well">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>First Name</label>
              <input type="text" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.firstName.errors }"
                placeholder="Enter First Name Here.." />
              <div *ngIf="submitted && formcontrol.firstName.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label>Last Name</label>
              <input type="text" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.lastName.errors }"
                placeholder="Enter Last Name Here.." />
              <div *ngIf="submitted && formcontrol.lastName.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label>User Name</label>
              <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.username.errors }"
                placeholder="Enter User Name Here.." />
              <div *ngIf="submitted && formcontrol.username.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.username.errors.required">User Name is required</div>
              </div>
              <div *ngIf="submitted && flag" class="error">
                Username is already taken </div>
            </div>
            <div class="col-sm-4 form-group">
              <label>Password</label>
              <input type="password" formControlName="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.password.errors }"
                placeholder="Enter Password Here.." />
              <div *ngIf="submitted && formcontrol.password.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.password.errors.required">Password is required</div>
                <div *ngIf="formcontrol.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label>Confirm Password</label>
              <input type="password" formControlName="confirmpassword" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.confirmpassword.errors }"
                placeholder="Enter Confirm Password Here.." />
              <div *ngIf="submitted && formcontrol.confirmpassword.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.confirmpassword.errors.required">Confirm Password is required</div>
                <div *ngIf="formcontrol.confirmpassword.errors.minlength">Confirm Password must be at least 6 characters
                </div>
                <div *ngIf="formcontrol.confirmpassword.errors.mustMatch">Password must match</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.email.errors }" placeholder="Enter Email Here.." />
              <div *ngIf="submitted && formcontrol.email.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.email.errors.required">Email is required</div>
                <div *ngIf="formcontrol.email.errors.email">Please enter Valid email..</div>
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label>Contact</label>
              <input type="text" formControlName="contact" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.contact.errors }"
                placeholder="Enter Contact Number  Here.." />
              <div *ngIf="submitted && formcontrol.contact.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.contact.errors.required">Contact Number is required</div>
                <div *ngIf="formcontrol.contact.errors.minlength">Enter 10 digit number.. </div>
                <div *ngIf="formcontrol.contact.errors.maxlength">Enter Valid Contact Number.. </div>
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label>Date of Birth</label>
              <input type="date" formControlName="dob" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.dob.errors }"
                placeholder="Enter Date of Birth Here.." />
              <div *ngIf="submitted && formcontrol.dob.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.dob.errors.required">Date of birth is required</div>
                <div *ngIf="formcontrol.dob.errors.validAge">Age should greatter then 18+</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea formControlName="address" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && formcontrol.address.errors }"
              placeholder="Enter Address Here.."></textarea>
            <div *ngIf="submitted && formcontrol.address.errors" class="invalid-feedback">
              <div *ngIf="formcontrol.address.errors.required">Address is required</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label>City</label>
              <input type="text" formControlName="city" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.city.errors }" placeholder="Enter City Here.." />
              <div *ngIf="submitted && formcontrol.city.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.city.errors.required">City is required</div>
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label>State</label>
              <input type="text" formControlName="state" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.state.errors }" placeholder="Enter State Here.." />
              <div *ngIf="submitted && formcontrol.state.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.state.errors.required">State is required</div>
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label>Pincode</label>
              <input type="text" formControlName="pincode" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.pincode.errors }"
                placeholder="Enter Pincode Here.." />
              <div *ngIf="submitted && formcontrol.pincode.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.pincode.errors.required">Pincode is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">
              Register
            </button>
            &nbsp;
            <button class="btn btn-light" type="reset" (click)="onReset()">
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>