<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="col-lg-12 well">
      <div class="row">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-6 form-group">
              <label>First Name</label>
              <input type="text" formControlName="firstName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.firstName.errors }"
                placeholder="Enter First Name Here.." disabled="true" />
              <div *ngIf="submitted && formcontrol.firstName.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.firstName.errors.required">First Name is required</div>
              </div>
            </div>
            <div class="col-sm-6 form-group">
              <label>Last Name</label>
              <input type="text" formControlName="lastName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.lastName.errors }"
                placeholder="Enter Last Name Here.." disabled="true" />
              <div *ngIf="submitted && formcontrol.lastName.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.lastName.errors.required">Last Name is required</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label>User Name</label>
              <input type="text" formControlName="username" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.username.errors }"
                placeholder="Enter User Name Here.." disabled="true" />
              <div *ngIf="submitted && formcontrol.username.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.username.errors.required">User Name is required</div>
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label>Email</label>
              <input type="text" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.email.errors }" placeholder="Enter Email Here.." />
              <div *ngIf="submitted && formcontrol.email.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.email.errors.required">Email is required</div>
                <div *ngIf="formcontrol.email.errors.email">Please enter Valid email..</div>
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label>Contact</label>
              <input type="text" formControlName="contact" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.contact.errors }"
                placeholder="Enter Contact Number  Here.." />
              <div *ngIf="submitted && formcontrol.contact.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.contact.errors.required">Contact Number is required</div>
                <div *ngIf="formcontrol.contact.errors.minlength">Enter 10 digit number.. </div>
                <div *ngIf="formcontrol.contact.errors.maxlength">Enter Valid Contact Number.. </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label>Address</label>
            <textarea formControlName="address" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && formcontrol.address.errors }"
              placeholder="Enter Address Here.."></textarea>
            <div *ngIf="submitted && formcontrol.address.errors" class="invalid-feedback">
              <div *ngIf="formcontrol.address.errors.required">Address is required</div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4 form-group">
              <label>City</label>
              <input type="text" formControlName="city" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.city.errors }" placeholder="Enter City Here.." />
              <div *ngIf="submitted && formcontrol.city.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.city.errors.required">City is required</div>
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label>State</label>
              <input type="text" formControlName="state" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.state.errors }" placeholder="Enter State Here.." />
              <div *ngIf="submitted && formcontrol.state.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.state.errors.required">State is required</div>
              </div>
            </div>
            <div class="col-sm-4 form-group">
              <label>Pincode</label>
              <input type="text" formControlName="pincode" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && formcontrol.pincode.errors }"
                placeholder="Enter Pincode Here.." />
              <div *ngIf="submitted && formcontrol.pincode.errors" class="invalid-feedback">
                <div *ngIf="formcontrol.pincode.errors.required">Pincode is required</div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">
              Submit
            </button>

          </div>
        </div>
      </div>
    </div>
  </form>
</div>