<div class="container">
  <div class="panel">
    <div class="title">
      <h1>Complaint detail</h1>
    </div>

    <table class="table table-striped">
      <tbody>
        <tr>
          <td><b>Complain Date</b></td>
          <td>{{complainDetailModel.compDate | date}}</td>
        </tr>
        <tr>
          <td><b>Complain Subject</b></td>
          <td>{{complainDetailModel.subject}}</td>
        </tr>
        <tr>
          <td><b>Complaint Category</b></td>
          <td>{{complainDetailModel.category.catName}}</td>
        </tr>
        <tr>
          <td><b>Complaint Area</b></td>
          <td>{{complainDetailModel.area.areaName}}</td>
        </tr>
        <tr>
          <td><b>Short Description</b></td>
          <td>{{complainDetailModel.shortdescription}}</td>
        </tr>
        <tr>
          <td><b>Description</b></td>
          <td>{{complainDetailModel.description}}</td>
        </tr>
        <tr>
          <td><b>Comments</b></td>
          <td style="background-color:white;overflow: scroll; height: 200px;">
            <div *ngFor="let comment of complainDetailModel.comments">
              <p>{{comment.username}} : {{comment.comment}}</p>
            </div>
          </td>
        </tr>
        <tr>
        <tr>
          <td *ngIf="complainDetailModel.status==='Solved' || complainDetailModel.status==='Fake'"><b>Complaint Close
              Date</b>
          </td>
          <td>{{complainDetailModel.completeDate | date}}</td>
        </tr>
        <tr>
          <td><b>Solution</b></td>
          <td *ngIf="complainDetailModel.status==='In progress'">
            <textarea #sol cols="50" rows="5" placeholder="Enter complaint solution..."></textarea>
            <p *ngIf="solutionError"> Please add a solution</p><br>
            <button (click)="submitSolution('Solved',sol.value)" class="btn btn-success">Solved</button>&nbsp;
            <button (click)="submitSolution('Fake','')" class="btn btn-danger">Fake</button>
          </td>
          <td style="border: 2px solid green;" *ngIf="complainDetailModel.status==='Solved'">
            <p>{{complainDetailModel.solution}}</p>
          </td>
          <td style="border: 2px solid red;" *ngIf="complainDetailModel.status==='Fake'">
            <p>{{complainDetailModel.solution}}</p>
          </td>
        </tr>
      </tbody>
    </table>
    <button class="btn btn-primary" (click)="onCancel()">Cancel</button>
  </div>