.form-group a {
  text-decoration: none;
}

.title h1 {
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 0px;
}

.container {
  padding: 5%;
}

.title {
  padding-bottom: 30px;
}

.form-group label {
  font-weight: bold;
}
.error {
  font-size: small;
  color: red;
}
