<div class="container">
  <div class="title">
    <h1>Change Password</h1>
  </div>
  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="currentpassword">Current Password:</label>
      <input type="password" formControlName='currentpassword' autocomplete="off" class="form-control">
      <div *ngIf='submitted || (formcontrol.currentpassword.touched && formcontrol.currentpassword.errors)'>
        <span *ngIf='formcontrol.currentpassword.errors?.required' class='error'>Current Password is required</span>
        <span *ngIf='formcontrol.currentpassword.errors?.minlength' class='error'>Current Password must have atleast 6
          characters</span>
      </div>
    </div>
    <div class="form-group">
      <label for="newpassword">New Password:</label>
      <input type="password" formControlName='newpassword' autocomplete="off" class="form-control">
      <div *ngIf='submitted || (formcontrol.newpassword.touched && formcontrol.newpassword.errors)'>
        <span *ngIf='formcontrol.newpassword.errors?.required' class='error'>New Password is required</span>
        <span *ngIf='formcontrol.newpassword.errors?.minlength' class='error'>New Password must have atleast 4
          characters</span>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmpassword">Confirm Password:</label>
      <input type="password" formControlName='confirmpassword' class=form-control>
      <div *ngIf='submitted || (formcontrol.confirmpassword.touched && formcontrol.confirmpassword.errors)'>
        <span *ngIf='formcontrol.confirmpassword.errors?.required' class='error'>Confirm Password is required</span>
        <span *ngIf='formcontrol.confirmpassword.errors?.minlength' class='error'>Confirm Password must have atleast 4
          characters</span>
        <span *ngIf='formcontrol.confirmpassword.errors?.mustMatch' class='error'>Passwords must match</span>
      </div>
    </div>
    <div *ngIf='submitted && flag==false'>
      <p class='error'>Invalid Password !</p>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary ">Submit</button>&nbsp;
      <button class="btn btn-light" type="reset" (click)='onReset()'>Reset</button>
    </div>
  </form>
</div>