<div class="container">
    <div class="panel">
        <div class="title">
            <h1>Area Details</h1>
        </div>
        <form [formGroup]="areaForm" (ngSubmit)="onSubmit()">
            <div class="col-lg-12 well">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label>Area Name</label>
                                <input type="text" formControlName="name" class="form-control"
                                    [ngClass]="{ 'is-invalid': submitted && formFields.name.errors }" />
                                <div *ngIf="submitted && formFields.name.errors" class="invalid-feedback">
                                    <div *ngIf="formFields.name.errors.required">Area name Is Required.</div>
                                    <div *ngIf="formFields.name.errors.maxlength">Area name Must Be Less Then 50
                                        Character Long.</div>
                                </div>
                                <div *ngIf="areaNameExists" class="error">Area name is already exists.</div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label>Pincode</label>

                                <input type="text" formControlName="pincode"
                                    [ngClass]="{ 'is-invalid': submitted && formFields.pincode.errors }"
                                    class="form-control" rows="3" id="pincode" />
                                <div *ngIf="submitted && formFields.pincode.errors" class="invalid-feedback">
                                    <div *ngIf="formFields.pincode.errors.required">Pincode Is Required.</div>
                                    <div *ngIf="formFields.pincode.errors">Pincode can contain only 6 digits.</div>
                                </div>
                            </div>
                            <div class="col-sm-12 form-group">
                                <label for="comment">Description: (Description should Be Only 255 Characters
                                    Long.)</label>
                                <textarea formControlName="description"
                                    [ngClass]="{ 'is-invalid': submitted && formFields.description.errors }"
                                    class="form-control" rows="5" id="comment"></textarea>
                                <div *ngIf="submitted && formFields.description.errors" class="invalid-feedback">
                                    <div *ngIf="formFields.description.errors.required">Description Is Required.</div>
                                    <div *ngIf="formFields.description.errors.maxlength">Description Can Be Only 255
                                        Characters Long..</div>
                                </div>
                            </div>
                            <div *ngIf="action==='Update'" class="col-sm-12 form-group">
                                <label for="comment">Status</label>
                                <select formControlName="status" class="form-control" rows="5">
                                    <option [selected]="this.formFields.status.value===1">Active</option>
                                    <option [selected]="this.formFields.status.value===0">In-Active</option>
                                </select>
                            </div>
                            <input type="hidden" formControlName="areaId">
                            <input type="hidden" formControlName="status">

                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary">
                                {{action}}
                            </button>
                            <a routerLink="/login" class="btn btn-link">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Area Id</th>
                    <th scope="col">Area Name</th>
                    <th scope="col">Pincode</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody style="background-color: white;">
                <tr *ngFor="let areaD of areaData" [class.myBgColor]='areaD.areaId===selectedEmployeeId'>
                    <th scope="row">{{areaD.areaId}}</th>
                    <td>{{areaD.name}}</td>
                    <td>{{areaD.pinCode}}</td>
                    <td>{{areaD.description}}</td>
                    <td>{{areaD.status===1?'Active':'In-active'}}</td>
                    <td><button class="btn btn-primary" (click)="display(areaD)">EDIT</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>