<div class="container">
  <div class="title">
    <h1>Login</h1>
  </div>
  <form method='post' action='EmployeeHome' [formGroup]='loginForm'>
    <div class="form-group">
      <label for="role">Role:</label>     
      <select formControlName="role" class="form-control">
        <option *ngFor='let r of roles' [value]="r">{{r}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="username">User Name:</label>
      <input type="text" formControlName='username' autocomplete="off" class="form-control">
      <div *ngIf='submitted || (formFields.username.touched && formFields.username.errors)'>
        <span *ngIf='formFields.username.errors?.required' class='error'>username is required</span>
        <span *ngIf='formFields.username.errors?.minlength' class='error'>username must have atleast 4 characters</span>
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName='password' class=form-control>
      <div *ngIf='submitted || (formFields.password.touched && formFields.password.errors)'>
        <span *ngIf='formFields.password.errors?.required' class='error'>password is required</span>
        <span *ngIf='formFields.password.errors?.minlength' class='error'>password must have atleast 4 characters</span>
      </div>
    </div>
    <div *ngIf='submitted && flag==false'>
      <p class='error'>invalid credentials</p>
    </div>
    <div *ngIf='submitted && status===false'>
      <p class='error'>Sorry! You have been blocked by the admin.</p>
    </div>
    <div>

    </div>
    <div class="form-group">
      <button type="submit" (click)="onSubmit()" class="btn btn-primary ">Submit</button>&nbsp;
      <button (click)="onReset()" class="btn btn-light">Reset</button>
    </div>
  </form>
</div>