<!-- Header -->
<div class="jumbotron jumbotron-fluid top-header">
  <div class="container">
    <div class="logo">
      <img src="https://img.icons8.com/doodle/96/000000/group.png" alt="">
    </div>
    <div class="title">
      <h1>Grievance Redressal Portal</h1>
      <p>We Solve Your Problem</p>
    </div>
  </div>
</div>
<!-- End Header -->