.top-header {
  background-color: #133c8c;
  color: white;
  margin-bottom: 0;
}

.logo img {
  width: 100px;
}

.title {
  padding-left: 10px;
}

.title h1 {
  font-size: 40px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 0;
}

.title p {
  margin: 0;
}
