.text-center {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
}

.notfound-404 {
  height: 150px;
  line-height: 150px;
  margin-bottom: 25px;
}

.notfound .notfound-404 h1 {
  font-size: 186px;
  font-weight: 900;
  margin: 0px;
  text-transform: uppercase;
}

.notfound h2 {
  padding-top: 50px;
  font-size: 26px;
  font-weight: 700;
  margin: 0;
}

.notfound p {
  padding-top: 10px;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0px;
  text-transform: uppercase;
}

.notfound a {
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  border: none;
  background: #003479;
  padding: 10px 40px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  margin-top: 15px;
  transition: 0.2s all;
}

.notfound a:hover {
  opacity: 0.8;
}
