@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

* {
  font-family: 'Raleway', sans-serif;
}

.content {
  height: auto;
  background-color: #e6e8e8;
  overflow: hidden;
}


a {
  color: white;
}

.navbar {
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.3);
}
