<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Complaint Service Portal</title>
</head>

<body>
  <app-header></app-header>
  <app-navbar></app-navbar>
  <div class="content">
    <router-outlet></router-outlet>
    <app-popup *ngIf='popupService.getVisibleState()'></app-popup>
  </div>
  <app-footer></app-footer>
</body>

</html>