<div class="container">
  <div class="panel">
    <div class="title">
      <h1>Add Complaint</h1>
    </div>
    <form [formGroup]="complainForm" (ngSubmit)="onSubmit()">
      <div class="col-lg-12 well">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-sm-12 form-group">
                <label>Complain Subject</label>
                <input type="text" formControlName="subject" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.subject.errors }"
                  placeholder="Enter Your Complain Subject Here.." />
                <div *ngIf="submitted && f.subject.errors" class="invalid-feedback">
                  <div *ngIf="f.subject.errors.required">Subject Is Required.</div>
                  <div *ngIf="f.subject.errors.minlength">Subject Must Be 10 Character Long..</div>
                  <div *ngIf="f.subject.errors.maxlength">Subject Must Be Less Then 50 Character Long.
                  </div>
                </div>
              </div>
              <div class="col-sm-12 form-group">
                <label>Complain Category</label>
                <select formControlName="catId" [ngClass]="{ 'is-invalid': submitted && f.catId.errors }"
                  class="form-control" id="sel1">
                  <option *ngFor="let c of categories" value={{c.catId}}>{{c.catName}}</option>
                </select>
                <div *ngIf="submitted && f.catId.errors" class="invalid-feedback">
                  <div *ngIf="f.catId.errors.required">Category Is Required.</div>
                </div>
              </div>
              <div class="col-sm-12 form-group">
                <label>Complain Area</label>
                <select formControlName="areaId" [ngClass]="{ 'is-invalid': submitted && f.areaId.errors }"
                  class="form-control" id="sel2">
                  <option *ngFor="let a of areas" value={{a.areaId}}>{{a.name}} - {{a.pinCode}}
                  </option>
                </select>
                <div *ngIf="submitted && f.areaId.errors" class="invalid-feedback">
                  <div *ngIf="f.areaId.errors.required">Area Is Required.</div>
                </div>
              </div>
              <div class="col-sm-12 form-group">
                <label for="comment">Short Description: (Short Description Must Be Between 50 to 255
                  Characters)</label>
                <textarea formControlName="shortDescription"
                  [ngClass]="{ 'is-invalid': submitted && f.shortDescription.errors }" class="form-control" rows="3"
                  id="shortDescription"></textarea>
                <div *ngIf="submitted && f.shortDescription.errors" class="invalid-feedback">
                  <div *ngIf="f.shortDescription.errors.required">Short Description Is Required.</div>
                  <div *ngIf="f.shortDescription.errors.minlength">Short Description Must Be 50
                    Character Long..</div>
                  <div *ngIf="f.shortDescription.errors.maxlength">Short Description Must Be Less Then
                    255 Character Long.</div>
                </div>
              </div>
              <div class="col-sm-12 form-group">
                <label for="comment">Description: (Description Must Be 255 Characters Long.)</label>
                <textarea formControlName="description" [ngClass]="{ 'is-invalid': submitted && f.description.errors }"
                  class="form-control" rows="5" id="comment"></textarea>
                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Description Is Required.</div>
                  <div *ngIf="f.description.errors.minlength">Description Must Be 255 Character Long..
                  </div>

                </div>
              </div>
            </div>
            <div class="form-group">
              <button class="btn btn-primary">
                Submit
              </button>
              &nbsp;
              <a class="btn btn-light" (click)="onCancel()">Cancel</a>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
