<div class="container" style="padding-top:25px;padding-bottom:30px;">
  <div class="title">
    <h1>Manage Users</h1>
  </div>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">UserId</th>
        <th scope="col">Username</th>
        <th scope="col">Fname</th>
        <th scope="col">Lname</th>
        <th scope="col">Email</th>
        <th scope="col">Contact</th>
        <th scope="col">Dob</th>
        <th scope="col">Address</th>
        <th scope="col">City</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody style="background-color: white;">
      <tr *ngFor="let data of getUserdetails()">
        <td>{{data.userId}}</td>
        <td>{{data.userName}}</td>
        <td>{{data.fName}}</td>
        <td>{{data.lName}}</td>
        <td>{{data.email}}</td>
        <td>{{data.contact}}</td>
        <td>{{data.dob}}</td>
        <td>{{data.address}}</td>
        <td>{{data.city}}</td>
        <td><button (click)="checkStatus(data.userId)"
            class="btn {{data.status?'btn-success':'btn-danger'}}">{{data.status?'Active':'In-active'}}</button></td>
      </tr>
    </tbody>
  </table>
</div>