.form-group a {
  text-decoration: none;
}

.title h1 {
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 28px;
}

.card {
  display: inline-block;
  margin-left: 40px;
  min-height: 13rem;
  max-width: auto;
  min-width: 24rem;
  margin-bottom: 20px;
  border-color: #133c8c;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 5px 15px 2px rgba(0, 0, 0, 0.1);
}

.green {
  color: green;
}

.red {
  color: red;
}
.blue {
  color: blue;
}

.card-title {
  color: #133c8c;
  font-weight: bold;
  text-align: center;
  padding-top: 5%;
}

.card-text {
  text-align: center;

  color: #133c8c;
  font-weight: bold;
  padding: 8px;
}
.inner {
  text-align: center;
  display: inline-block;
  color: #133c8c;
  font-weight: bold;
  padding: 20px;
}
.card-header {
  font-weight: bold;
  background-color: #133c8c;
  color: white;
}

.card-body {
  width: auto;
  padding: 0;
}

.card-header h4 {
  font-weight: bold;
  text-align: center;
}

.card-text h1 {
  text-align: center;
  font-size: 60px;
}
.inline-col {
  width: auto;
  text-align: center;
}
.inline-col2 {
  width: auto;
  text-align: center;
  display: inline-block;
  margin-left: 210px;
}

.container {
  padding: 3%;
}

.title {
  padding-bottom: 30px;
}
