<div class="container">
  <div class="panel">
    <div class="title">
      <h1>Admin DashBoard</h1>
    </div>
    <div class="card-deck">

      <div class="card" [routerLink]="['/acomplaint']">
        <div class="card-header">
          <h4>Complaints</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Total Complaints</h5>
          <div class="inline-col2">
            <div class="card-text inner">Solved Complaints<h1 class="green">{{complain?.solvedComplaintsCount}}</h1>
            </div>
            <div class="card-text inner">In-Progress Complaints<h1 class="blue">{{complain?.inProgressComplaintsCount}}
              </h1>
            </div>
            <div class="card-text inner">Fake Complaints<h1 class="red">{{complain?.fakeComplaintCount}}</h1>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="card-deck">
      <div class="card" [routerLink]="['/manageemployee']">
        <div class="card-header">
          <h4>Employees</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Total Employees</h5>
          <div class="inline-col">
            <div class="card-text">Active Employees<h1 class="green">{{employee?.activeEmployeeCount}}</h1>
            </div>

            <div class="card-text">In-Active Employees<h1 class="red">{{employee?.inActiveEmployeeCount}}</h1>
            </div>
          </div>
        </div>

      </div>
      <div class="card" [routerLink]="['/manageusers']">
        <div class=" card-header">
          <h4>Users</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Total Users</h5>
          <div class="inline-col">
            <div class="card-text">Active User<h1 class="green">{{users?.activeUserCount}}</h1>
            </div>

            <div class="card-text">In-Active User<h1 class="red">{{users?.inActiveUserCount}}</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="card" [routerLink]="['/area']">
        <div class="card-header">
          <h4>Serviceable Area</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Areas</h5>
          <div class="inline-col">
            <div class="card-text">Active Areas<h1 class="green">{{areas?.activeAreaCount}}</h1>
            </div>

            <div class="card-text">In-Active Areas<h1 class="red">{{areas?.inActiveAreaCount}}</h1>
            </div>
          </div>
        </div>

      </div>

      <div class="card" [routerLink]="['/category']">
        <div class="card-header">
          <h4>Serviceable Categories</h4>
        </div>
        <div class="card-body">
          <h5 class="card-title">Total Categories</h5>
          <div class="inline-col">
            <div class="card-text">Active Categories<h1 class="green">{{categories?.activeCategoryCount}}</h1>
            </div>

            <div class="card-text">In-Active Categories<h1 class="red">{{categories?.inActiveCategoryCount}}</h1>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>