.login-form {
  padding: 10px 50px;
}

.form-group a {
  text-decoration: none;
}

.title h1 {
  font-weight: 800;
  text-transform: uppercase;
  padding-left: 5px;
}

.container {
  padding: 5%;
}

.title {
  padding-bottom: 30px;
}

.form-group label {
  font-weight: bold;
}
.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
