<div class="container" style="padding-top: 50px;">
  <div class="title">
    <h1>Your Complaint List</h1>
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Complaint Id</th>
        <th scope="col">Complaint Date</th>
        <th scope="col">Category Name</th>
        <th scope="col">Area Name</th>
        <th scope="col">Complaint Subject</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let complaintDetail of complainDetailModel">
        <td> {{complaintDetail.compId}} </td>
        <td>{{complaintDetail.compDate | date}}</td>
        <td> {{complaintDetail.category.catName}} </td>
        <td> {{complaintDetail.area.areaName}} </td>
        <td> {{complaintDetail.subject}} </td>
        <td [class.blue]="complaintDetail.status === 'In progress'" [class.green]="complaintDetail.status === 'Solved'"
          [class.red]="complaintDetail.status === 'Fake'"> {{complaintDetail.status}} </td>
        <td (click)="viewComplaintDetail(complaintDetail.compId)"><button class="btn btn-primary">Manage
            complaint</button> </td>
      </tr>
    </tbody>
  </table>
</div>