<!-- Navigation -->
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">

    <a class="navbar-brand">
      Hello, {{loginStateService.loginState?.username}} <strong>{{greeting}} !</strong>
    </a>
    <div class="navbar-right">
      <ul class="nav nav-pills" *ngFor="let a of getMenutoDisplay()">
        <li class="nav-item" *ngFor="let b of a.menulist">
          <span *ngIf="b.label==='Logout'" class="nav-link" (click)="logout()">{{b.label}}</span>
          <a *ngIf="b.label!='Logout'" class="nav-link" [routerLink]="b.routerLink"
            routerLinkActive='active'>{{b.label}}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>